extends ../includes/layout

block main-content
    .navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-ex-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                h1
                    .col-md-6
                        a.navbar-brand(href="/")
                            img.img-responsive(src="/logo.png") 
            .navbar-ex-collapse.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li.active
                        a(href='#') Recycled Mississippi
                    li
                        a(href='#') Past Expeditions
                    li
                        a(href='#') About
                    li
                        a(href='#') Connect
    section.content
        div(ng-view)

    footer.container.text-center
        p &copy; 2016 Recycled Mississippi
    






