extends ../includes/layout

block main-content
    //- -var menu = {"Home" : "/", "About" : "ABOUT", "Sponsors" : "#sponsors", "Press" : "PRESS"}
    //- ul(class="#{nav}")
    //-     li.menu.Home
        

    .navbar.navbar-default.navbar-fixed-top(style='\
    height: 101px;')
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-ex-collapse', aria-expanded='false', style=' top: 20px;')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(style=' padding-top: 17px;')
                    img(alt='Brand', src='images/Logos/Recycled Mississippi.png', style=' margin-top: 10px; width=', maxheight='45px', height='45')
            #navbar-ex-collapse.navbar-collapse.collapse(style='padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; margin-top: 25px; margin-bottom: 25px; height: 0px;', aria-expanded='false')
                ul.nav.navbar-nav.navbar-right
                
                    li(class=(title === 'expedition' ? 'active' : ''))
                        a(href='/') Expedition
                    li(class=(title === 'about' ? 'active' : ''))
                        a(href='ABOUT') About
                    li(class=(title === '#sponsors' ? 'active' : ''))
                        a(href='#sponsors') Sponsors
                    li(class=(title === 'press' ? 'active' : ''))
                        a(href='PRESS') Press
                    //- li
                    //-     a(href='/', style='\
                    //-     border-left-width: px;\
                    //-     /* border-right-width: 1px; */\
                    //-     /* margin-left: 2px; */\
                    //-     /* margin-right: 2px; */\
                    //-     ') Expedition
                    //- li
                    //-     a(href='ABOUT') About
                    //- li
                    //-     a(href='#sponsors') Sponsors
                    //- li
                    //-     a(href='PRESS') Press
                        
    section.content
        div(ng-view)
        
    footer.color.footer.section.section-info
      .container
        .row
          .col-sm-6
            a(href='#')
              img.img-responsive(src='images/Logos/Recycled Mississippi.png')
          .col-sm-6
            p.black-text.text-center.text-muted
              | If you are interested in supporting our vision of using adventure to inspire
              | and educate the next generation of social innovators, please contact us
              | at support (at) kaitiaki (dot) org
              br
              br
            a(name='sponsors')
            .row
              .col-md-12.text-center
                a(href='https://youtu.be/ijON8pq8JJk?list=PLHIlRZafNMXDm7lja7r2LiyaseVNZ3aaS', target='_blank')
                  i.fa.fa-3x.fa-fw.fa-youtube-play
                a(href='https://www.facebook.com/recycledmississippi/', target='_blank')
                  i.fa.fa-3x.fa-facebook.fa-fw
                a(href='https://www.instagram.com/recycledmississippi/', target='_blank')
                  i.fa.fa-3x.fa-fw.fa-instagram
                a(href='mailto:support@kaitiaki.org')
                  i.fa.fa-3x.fa-fw.fa-envelope-o
        .row
          .col-md-12
            hr
          .section
            .container
              .row
                .col-md-12
                  h1.text-center.text-primary.heading OUR AMAZING SPONSORS
              .row
                .col-md-12
                  p.text-center.text-primary
                    | This project would have not been possible without the generous support
                    | of all our supporters and sponsors who have helped us make this project
                    | a reality.
              .row
                .col-md-12
                  img.center-block.img-responsive(src='images/Logos/SponsorBottle.png')
              .row
                .col-md-7
                  h2.text-center.text-primary.heading PRESENTING SPONSOR
                  a(href='http://www.therevery.nyc/', target='_blank')
                    img.center-block.img-responsive(src='images/Logos/Presenting Sponsor/TheReveryLogo.png')
                .col-md-5
                  h2.text-center.text-primary.heading MAJOR SPONSORS
                  a(href='http://house-of-ioco.com/', target='_blank')
                    img.img-responsive(src='images/Logos/Major Sponsors/HouseOfIoco.jpg')
                  a(href='https://www.nyfa.edu/', target='_blank')
                    img.center-block.img-responsive(src='images/Logos/Major Sponsors/nyfa-logo-for-sail.jpg')
        .row
          .col-md-12
            hr
            h2.text-center.text-primary.heading SUPPORTING SPONSORS
        .row.text-center
          .col-md-3.text-center
            a(href='https://www.belber.com/', target='_blank')
              img.img-responsive(src='images/Logos/Supporting Sponsors/Belber.PNG')
          .col-md-5
            a(href='http://hubbub.nz', target='_blank')
              img.img-responsive(src='images/Logos/Supporting Sponsors/Hubbub_New-Logo_06_2016.png')
          .col-md-4
            a(href='http://www.suzukimarine.com/', target='_blank')
              img.img-responsive(src='images/Logos/Supporting Sponsors/suzuki_marine.png')
        .row
          .col-md-12
            hr
            h2.text-center.text-primary.heading IN-KIND SPONSORS
            .col-md-3
                a(href='http://www.sunrisesolarllc.com/', target='_blank')
                    img.img-responsive(src='images/Logos/In-Kind Sponsors/SunriseSolar.png')
            .col-md-2
                a(href='https://www.apricorn.com/', target='_blank')
                    img.center-block.img-responsive(src='images/Logos/In-Kind Sponsors/1010554506.png')
            .col-md-2
                a(href='http://avasol.com/', target='_blank')
                    img.center-block.img-responsive(src='images/Logos/In-Kind Sponsors/avasol-logo-color-320x320.png')
            .col-md-2
                a(href='http://www.benchmade.com/', target='_blank')
                    img.center-block.img-responsive(src='images/Logos/In-Kind Sponsors/Benchmade_Butterfly_Logo.png')
            .col-md-3
                a(href='http://www.boulterplywood.com/', target='_blank')
                    img.center-block.img-responsive(src='images/Logos/In-Kind Sponsors/BoulterPlywood.svg')
            .row
                .col-md-12
                    .col-md-4
                        a(href='http://www.westsystem.com/ss/', target='_blank')
                            img.img-responsive(src='images/Logos/In-Kind Sponsors/west_system_logo.png')
                    .col-md-2
                        a(href='http://www.brushwithbamboo.com/', target='_blank')
                            img.center-block.img-responsive(src='images/Logos/In-Kind Sponsors/41aw3tfzufvtlcou3521.png')
                    .col-md-2
                        a(href='https://kokatat.com/', target='_blank')
                            img.center-block.img-responsive(src='images/Logos/In-Kind Sponsors/KOKATAT-WAVE-BLACK.png')
                    .col-md-4
                        a(href='http://www.insectshield.com/', target='_blank')
                            img.img-responsive(src='images/Logos/In-Kind Sponsors/Insect_shield_logo.png')
