doctype
html
    
    head
        title Recycled Mississipi
        meta(name='description', content='We are six friends currently travelling one of the longest and most iconic rivers in the world on a boat made from trash.')
        meta(name='keywords', content='Recycled, Mississipi, Dan Cullum, Boat')
        meta(property='og:image', content='http://sheltered-tor-87391.herokuapp.com/images/EXPEDITION/Expedition.jpg')
        link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/vendor/toastr/toastr.css')
        link(rel='stylesheet', href='/css/site.css')
        link(rel='stylesheet', href='/vendor/leaflet/dist/leaflet.css')
        link(rel='stylesheet', href='/vendor/Leaflet.fullscreen/dist/leaflet.fullscreen.css')
        link(rel='stylesheet', href='/css/ngFader.css')

        
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-82643477-1', 'auto');
            ga('send', 'pageview');



        base(href="/")
    body(ng-app='app')
        block main-content
        include scripts