doctype
html
    
    head
        title Recycled Mississipi
        meta(name='description', content='We are six friends currently travelling one of the longest and most iconic rivers in the world on a boat made from trash.')
        meta(name='keywords', content='Recycled, Mississipi, Dan Cullum, Boat')
        meta(property='og:image', content='http://sheltered-tor-87391.herokuapp.com/images/EXPEDITION/Expedition.jpg')
        link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/vendor/toastr/toastr.css')
        link(rel='stylesheet', href='/css/site.css')
        link(rel='stylesheet', href='/vendor/leaflet/dist/leaflet.css')

        base(href="/")
    body(ng-app='app')
        block main-content
        include scripts