
.navbar.navbar-default.navbar-fixed-top(style='height: 101px;')
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-ex-collapse', aria-expanded='true', style='top: 20px;')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(style='padding-top: 17px;')
                img(alt='Brand', src='images/Logos/Recycled Mississippi.png', style='margin-top: 10px; width=', maxheight='45px', height='45')
        #navbar-ex-collapse.navbar-collapse.collapse.in(style='padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; margin-top: 25px; margin-bottom: 25px;', aria-expanded='true')
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='./', style='border-left-width: px; /* border-right-width: 1px; */ /* margin-left: 2px; */ /* margin-right: 2px; */') Expedition
                li.active
                    a(href='#') About
                li
                    a(href='#sponsors') Sponsors
                li
                    a(href='PRESS') Press
.cover
    .cover-image(style="background-image : url('images/ABOUT/IMG_8014.jpg')")
    .container
        .row
            .col-md-12.text-center
                h1.text-info(contenteditable='false') ABOUT
.section
    .container
        .row
            .col-md-6
                h1.text-primary
                    b PROJECT
                p.text-primary
            .col-md-6
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='http://www.youtube.com/embed/FL9ZmKzPRUw', allowfullscreen='')
.section
    .container
        .row
            .col-md-12
                h1.text-primary
                    b MEET THE TEAM
.section
    .container
        .row
            .col-md-3
                img.img-responsive(src='images/ABOUT/Dan.jpg')
            .col-md-9
                h1.text-primary DAN CULLUM
                h3.text-primary EXPEDITION LEADER
                p.text-primary
.section
    .container
        .row
            .col-md-3
                img.img-responsive(src='images/ABOUT/Gary.jpg')
            .col-md-9
                h1.text-primary GARY BENCHEGHIB
                h3.text-primary FILMMAKER / PRODUCER
                p.text-primary
.section
    .container
        .row
            .col-md-3
                img.img-responsive(src='images/ABOUT/Livio.jpg')
            .col-md-9
                h1.text-primary LIVIO KNOERI
                h3.text-primary HEAD ENGINEER
                p.text-primary
.section
    .container
        .row
            .col-md-3
                img.img-responsive(src='images/ABOUT/Hannes.jpg')
            .col-md-9
                h1.text-primary HANNES STAUFFER
                h3.text-primary ENGINEER
                p.text-primary
.section
    .container
        .row
            .col-md-3
                img.img-responsive(src='images/ABOUT/Sebastian.jpg')
            .col-md-9
                h1.text-primary SEBASTIAN ENGELHART
                h3.text-primary SKIPPER
                p.text-primary
.section
    .container
        .row
            .col-md-6
                img.img-responsive(src='images/ABOUT/Hubbub.jpg')
            .col-md-6
                h1.text-primary HUBBUB
                h3.text-primary HEAD OF INTEGRATED TECHNOLOGIES
                p.text-primary
                    br
                    br
.section
    .container
        .row
            .col-md-12
                h1.text-primary
                    b PAST EXPEDITIONS
.section
    .container
        .row
            .col-md-6
                h1.text-primary ABEL TASMAN
                h3.text-primary NEW ZEALAND
                p.text-primary
                    br
                    br
                    br
                    br
            .col-md-6
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='http://www.youtube.com/embed/I1D6nwStGIE', allowfullscreen='')
        .row
            .col-md-2
                a
                    img.img-responsive(src='images/ABOUT/Past1.jpg')
            .col-md-2
                a
                    img.img-responsive(src='images/ABOUT/Past2.jpg')
            .col-md-2
                a
                    img.img-responsive(src='images/ABOUT/Past3.jpg')
            .col-md-2
                a
                    img.img-responsive(src='images/ABOUT/Past4.jpg')
            .col-md-2
                a
                    img.img-responsive(src='images/ABOUT/Past5.jpg')
            .col-md-2
                a
                    img.img-responsive(src='images/ABOUT/Past6.jpg')
        .row
            .col-md-2
                a
                    img.img-responsive(src='images/ABOUT/Past7.jpg')
            .col-md-2
                a
                    img.img-responsive(src='images/ABOUT/Past9.jpg')
            .col-md-2
                a
                    img.img-responsive(src='images/ABOUT/Past10.jpg')
            .col-md-2
                a
                    img.img-responsive(src='images/ABOUT/Past11.jpg')
            .col-md-2
                a
                    img.img-responsive(src='images/ABOUT/Past12.jpg')
            .col-md-2
                a
                    img.img-responsive(src='images/ABOUT/Past16.jpg')
.section
    .container
        .row
            .col-md-6
                h1.text-primary WHANGANUI RIVER
                h3.text-primary NEW ZEALAND
                p.text-primary
                    br
                    br
                    br
                    br
            .col-md-6
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='http://www.youtube.com/embed/sKlvVJ8Y4Hs', allowfullscreen='')
