
img.img-responsive(src='/images/ABOUT/IMG_8014.jpg')

.section
  .container
    .row
      .col-md-6
        h1.text-primary
          b PROJECT
        p.text-primary
          | We are on a quest to travel the length of the second longest river in
          | the USA on a boat made from recycled and reclaimed materials. Our goal
          | is to produce a documentary. Its purpose is to follow the challenges of
          | a journey on trash, to unearth the reason behind why the Mississippi River
          | is one of the most polluted in the world, and to tell the story of how
          | local communities along the river have been affected by its pollution and
          | their efforts to clean and restore it. The film will be submitted to film
          | festivals and be made freely available to teachers and students around
          | the world to help educate about giving waste a second life and protecting
          | our waterways.
      .col-md-6
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src='http://www.youtube.com/embed/FL9ZmKzPRUw', allowfullscreen='')
.section
  .container
    .row
      .col-md-12
        h1.text-primary
          b MEET THE TEAM
.section
  .container
    .row
      .col-md-3
        img.img-responsive(src='images/ABOUT/Dan.jpg')
      .col-md-9
        h1.text-primary DAN CULLUM
        h3.text-primary EXPEDITION LEADER
        p.text-primary
          | Dan has been leading 'recycled expeditions' on kayaks made from plastic
          | bottles in his spare time for the past three years. His passion for the
          | environment began in University when he worked on a short film about creative
          | ways to integrate sustainability education into the classroom that won
          | a United Nation's Film Competition. Dan has spoken at numerous events around
          | the world about his work in youth social movements and sustainability,
          | including: World Economic Forum, TEDxChristchurch, and The United Nations
          | Rio+2- Conference on Sustainable Development.
.section
  .container
    .row
      .col-md-3
        img.img-responsive(src='images/ABOUT/Gary.jpg')
      .col-md-9
        h1.text-primary GARY BENCHEGHIB
        h3.text-primary FILMMAKER / PRODUCER
        p.text-primary
          | Gary is a filmmaker and environmental activist. Witnessing his home island
          | of Bali change from a tropical paradise to a congested playground for the
          | world's economic elite, with trash overflowing it's once picturesque beaches,
          | he founded Make A Change Bali at 14-years old: a non-profit organization
          | aimed at educating the local community about the effects of plastic waste
          | and the importance of sustainable waste management. His latest project
          | The Reclamation is a documentary exploring Tolak Reklamasi, one of the
          | biggest environmental movements in the history of Indonesia, reach over
          | 3 million people and obtaining write ups including Rolling Stone Magazine,
          | CNN, and ABC Radio Australia.
.section
  .container
    .row
      .col-md-3
        img.img-responsive(src='images/ABOUT/Livio.jpg')
      .col-md-9
        h1.text-primary LIVIO KNOERI
        h3.text-primary HEAD ENGINEER
        p.text-primary
          | Livio is a Swiss Engineer and is responsible for the overall design and
          | build of the Recycled Mississippi catamaran. During university Livio was
          | a core member of the Pangaea Project Community in Europe, a group of students
          | that ran environmental camps and clean-ups across Germany and Serbia.
.section
  .container
    .row
      .col-md-3
        img.img-responsive(src='images/ABOUT/Hannes.jpg')
      .col-md-9
        h1.text-primary HANNES STAUFFER
        h3.text-primary ENGINEER
        p.text-primary
          | Hannes is the other half of Recycled Mississippi's Swiss Engineering duo,
          | responsible for the woodwork and mechanical componentry of the Recycled
          | Mississippi catamaran. Hannes brings a wealth of experience in survival
          | tactics and long term expeditions from being the Swiss Army and travelling
          | across the Sahara Desert and the Australian Outback.
.section
  .container
    .row
      .col-md-3
        img.img-responsive(src='images/ABOUT/Sebastian.jpg')
      .col-md-9
        h1.text-primary SEBASTIAN ENGELHART
        h3.text-primary SKIPPER
        p.text-primary
          | Sebastian is an American citizen born and raised in Hong Kong. Seb grew
          | up sailing and brings invaluable on the water experience to the team that
          | will help ensure safe passage down the Mississippi River. He has also spent
          | a lot of time in the outdoors on expeditions in Southern Africa and along
          | the Great Wall of China, and via competing in ultramarathons across Asia.
          | Seb is currently studying at the University of Pennsylvania.
.section
  .container
    .row
      .col-md-6
        a(href='http://hubbub.nz', target='_blank')
          img.img-responsive(src='images/ABOUT/Hubbub.jpg')
      .col-md-6
        h1.text-primary
          a(href='http://hubbub.nz/', target='_blank') HUBBUB
        h3.text-primary HEAD OF INTEGRATED TECHNOLOGIES
        p.text-primary
          | Hubbub is a creative arts company that will provide innovative technologies
          | for your businesses to develop an image and establish active engagements
          | in the community. We work to create memorable experiences with public installations
          | of art that can be used to engage with the audience with new and exciting
          | possibilities.
          br
          br
          | Hubbub's role in this expedition is to provide a system that allows the
          |               world to track the journey as it happens. As the boat and it's crew float
          |               down the river, information about the water quality and environment will
          |               be added to the online map, allowing the whole world to be part of the
          |               expedition.
.section
  .container
    .row
      .col-md-12
        h1.text-primary
          b PAST EXPEDITIONS
.section
  .container
    .row
      .col-md-6
        h1.text-primary ABEL TASMAN
        h3.text-primary NEW ZEALAND
        p.text-primary
          | Our most recently expedition saw 25 youth travel along the coastline of
          | one of New Zealand’s most treasured National Parks, the Abel Tasman.
          br
          br
          |   Participants learnt about the Department of Conservation’s work
          |               to rejuvenate native bird populations and reduce the prevalence of pests.
          |               Local guides shared indigenous perspectives of environmental protection
          |               through history and cultural lessons highlighting the flora and fauna that
          |               are at most risk to the adverse effects of climate change.
          br
          br
          | Our pilot science and sustainability curriculum delivered online and through
          |               our schools tour were used by over 2,000 students around the world. Participants
          |               of the expedition were trained and equipped to deliver presentations in
          |               their local communities. Videos and blogs of the expedition were reported
          |               on by every national media outlet and channel in New Zealand as a leading
          |               example of youth innovation and creativity to inspire and educate the next
          |               generation on environmental issues; reaching and engaging over 2 million
          |               people.
      .col-md-6
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src='http://www.youtube.com/embed/I1D6nwStGIE', allowfullscreen='')
    .row
      .col-md-2
        a
          img.img-responsive(src='images/ABOUT/Past1.jpg')
      .col-md-2
        a
          img.img-responsive(src='images/ABOUT/Past2.jpg')
      .col-md-2
        a
          img.img-responsive(src='images/ABOUT/Past3.jpg')
      .col-md-2
        a
          img.img-responsive(src='images/ABOUT/Past4.jpg')
      .col-md-2
        a
          img.img-responsive(src='images/ABOUT/Past5.jpg')
      .col-md-2
        a
          img.img-responsive(src='images/ABOUT/Past6.jpg')
    .row
      .col-md-2
        a
          img.img-responsive(src='images/ABOUT/Past7.jpg')
      .col-md-2
        a
          img.img-responsive(src='images/ABOUT/Past9.jpg')
      .col-md-2
        a
          img.img-responsive(src='images/ABOUT/Past10.jpg')
      .col-md-2
        a
          img.img-responsive(src='images/ABOUT/Past11.jpg')
      .col-md-2
        a
          img.img-responsive(src='images/ABOUT/Past12.jpg')
      .col-md-2
        a
          img.img-responsive(src='images/ABOUT/Past16.jpg')
.section
  .container
    .row
      .col-md-6
        h1.text-primary WHANGANUI RIVER
        h3.text-primary NEW ZEALAND
        p.text-primary
          | Our first expedition in 2013 saw 25 youth travel 100kms down the Whanganui,
          | New Zealand’s longest navigable river. Participants learnt about the disastrous
          | effects of farming and pesticides in contaminating the river and the flow-on
          | effects further downstream. Fascinating parts of New Zealand’s culture
          | and history were explored through experiencing man-made phenomenons such
          | as the famous Bridge-to-Nowhere designed for trade but eventually abandoned
          | in the middle of the New Zealand wilderness. 
          br
          br
          | Many of the participants of the Whanganui expedition were involved
          |               in the design and construction of the plastic bottle kayaks, with members
          |               going on to organise and lead the expedition to the Abel Tasman in 2015. 
          br
          br
          | The expedition garnered significant interest from national media
          |               outlets with over 1.5 million people reached. Requests for design blueprints
          |               of our kayaks were received from countries around the world.
      .col-md-6
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src='http://www.youtube.com/embed/sKlvVJ8Y4Hs', allowfullscreen='')
