//- extends ../../../server/views/index



img.img-responsive(src='images/EXPEDITION/Expedition2.jpg')


.section
    .container
        .row
            .col-md-12
                div(ng-include="'/partials/main/map'")
                    

.section
    .container
        .row
            .col-md-12
                h2.text-center.text-primary
                    b WE HAVE A WEEKLY VLOG THAT FOLLOWS OUR JOURNEY. &nbsp;
                    br
                    b
                        span(style='line-height: 1.1;') CHECK OUT THE LATEST EPISODE BELOW!
.section
    .container
        .row
            .col-md-12
                .embed-responsive.embed-responsive-16by9
                    iframe(width='640', height='360', src='https://www.youtube.com/embed/videoseries?list=PLHIlRZafNMXDm7lja7r2LiyaseVNZ3aaS', frameborder='0', allowfullscreen='')


