
.container
    .jumbotron
        h1 Follow Our Journey.
.section
    .container
        .row
            .col-md-12
                div(ng-include="'/partials/main/map'")
                input(type='button', value='Click to center', ng-click='centerJSON()')