img.img-responsive(src='images/EXPEDITION/Expedition.jpg')
.navbar.navbar-default.navbar-fixed-top(style='\
height: 101px;')
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-ex-collapse', aria-expanded='false', style=' top: 20px;')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(style=' padding-top: 17px;')
                img(alt='Brand', src='images/Logos/Recycled Mississippi.png', style=' margin-top: 10px; width=', maxheight='45px', height='45')
        #navbar-ex-collapse.navbar-collapse.collapse(style='padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; margin-top: 25px; margin-bottom: 25px; height: 0px;', aria-expanded='false')
            ul.nav.navbar-nav.navbar-right
                li.active
                    a(href='#', style='\
                    border-left-width: px;\
                    /* border-right-width: 1px; */\
                    /* margin-left: 2px; */\
                    /* margin-right: 2px; */\
                    ') Expedition
                li
                    a(href='ABOUT') About
                li
                    a(href='#sponsors') Sponsors
                li
                    a(href='PRESS') Press

.section
    .container
        .row
            .col-md-12
                div(ng-include="'/partials/main/map'")
                    

.section
    .container
        .row
            .col-md-12
                h2.text-center.text-primary
                    b WE HAVE A WEEKLY VLOG THAT FOLLOWS OUR JOURNEY. &nbsp;
                    br
                    b
                        span(style='line-height: 1.1;') CHECK OUT THE LATEST EPISODE BELOW!
.section
    .container
        .row
            .col-md-12
                .embed-responsive.embed-responsive-16by9
                    iframe(width='640', height='360', src='https://www.youtube.com/embed/DbJzvKCakbM?list=PLHIlRZafNMXDm7lja7r2LiyaseVNZ3aaS', frameborder='0', allowfullscreen='')


