
img.img-responsive(src='images/EXPEDITION/Expedition.jpg')
.navbar.navbar-default.navbar-fixed-top(style='\
height: 101px;')
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-ex-collapse', aria-expanded='false', style=' top: 20px;')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(style=' padding-top: 17px;')
                img(alt='Brand', src='images/Logos/Recycled Mississippi.png', style=' margin-top: 10px; width=', maxheight='45px', height='45')
        #navbar-ex-collapse.navbar-collapse.collapse(style='padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; margin-top: 25px; margin-bottom: 25px; height: 0px;', aria-expanded='false')
            ul.nav.navbar-nav.navbar-right
                li.active
                    a(href='index.html', style='\
                    border-left-width: px;\
                    /* border-right-width: 1px; */\
                    /* margin-left: 2px; */\
                    /* margin-right: 2px; */\
                    ') Expedition
                li
                    a(href='ABOUT.html') About
                li
                    a(href='#sponsors') Sponsors
                li
                    a(href='PRESS.html') Press
.section
    .container
        .row
            .col-md-12
                h3.text-center.text-primary
                    b
                        br
                        br
.section
    .container(style='\
    padding-left: 0px;\
    padding-right: 0px;\
    ')
        iframe(src='http://share.findmespot.com/shared/gogl.jsp?glId=0N6dXjTo7eRCUfsNlXrLNnfDFuDVNVN1c', height='600', width='100%')
.section
    .container
        .row
            .col-md-12
                h2.text-center.text-primary
                    b WE HAVE A WEEKLY VLOG THAT FOLLOWS OUR JOURNEY. &nbsp;
                    br
                    b
                        span(style='line-height: 1.1;') CHECK OUT THE LATEST EPISODE BELOW!
.section
    .container
        .row
            .col-md-12
                .embed-responsive.embed-responsive-16by9
                    iframe(width='640', height='360', src='https://www.youtube.com/embed/ijON8pq8JJk?list=PLHIlRZafNMXDm7lja7r2LiyaseVNZ3aaS', frameborder='0', allowfullscreen='')
footer.color.footer.section.section-info
    .container
        .row
            .col-sm-6
                a(href='#')
                    img.img-responsive(src='images/Logos/Recycled Mississippi.png')
            .col-sm-6
                p.black-text.text-center.text-muted
                    br
                    br
                a(name='sponsors')
                .row
                    .col-md-12.text-center
                        a(href='https://youtu.be/ijON8pq8JJk?list=PLHIlRZafNMXDm7lja7r2LiyaseVNZ3aaS', target='_blank')
                            i.fa.fa-3x.fa-fw.fa-youtube-play
                        a(href='https://www.facebook.com/recycledmississippi/', target='_blank')
                            i.fa.fa-3x.fa-facebook.fa-fw
                        a(href='https://www.instagram.com/recycledmississippi/', target='_blank')
                            i.fa.fa-3x.fa-fw.fa-instagram
                        a(href='mailto:support@kaitiaki.org')
                            i.fa.fa-3x.fa-fw.fa-envelope-o
        .row
            .col-md-12
                hr
            .section
                .container
                    .row
                        .col-md-12
                            h1.text-center.text-primary.heading OUR AMAZING SPONSORS
                    .row
                        .col-md-12
                            p.text-center.text-primary
                    .row
                        .col-md-7
                            h2.text-center.text-primary.heading(contenteditable='true') PRESENTING SPONSOR
                            a(href='#')
                                img.center-block.img-responsive(src='images/Logos/Presenting Sponsor/The Revery Logo.jpg')
                        .col-md-5
                            h2.text-center.text-primary.heading(contenteditable='true') MAJOR SPONSORS
                            a(href='#')
                                img.img-responsive(src='images/Logos/Major Sponsors/Screenshot 2016-06-28 17.56.49.jpg')
                            a(href='#')
                                img.center-block.img-responsive(src='images/Logos/Major Sponsors/nyfa-logo-for-sail.jpg')
        .row
            .col-md-12
                hr
                h2.text-center.text-primary.heading(contenteditable='true') SUPPORTING SPONSORS
        .row.text-center
            .col-md-3.text-center
                a(href='#')
                    img.img-responsive(src='images/Logos/Supporting Sponsors/image1.PNG')
            .col-md-5
                a(href='http://hubbub.nz', target='_blank')
                    img.img-responsive(src='images/Logos/Supporting Sponsors/Hubbub_New-Logo_06_2016.png')
            .col-md-4
                a(href='#')
                    img.img-responsive(src='images/Logos/Supporting Sponsors/suzuki_marine3362x1286.jpg')
        .row
            .col-md-12
                hr
                h2.text-center.text-primary.heading IN-KIND SPONSORS
                .col-md-3
                    a(href='#')
                        img.center-block.img-responsive(src='images/Logos/In-Kind Sponsors/KOKATAT-WAVE-BLACK.jpg')
                .col-md-3
                    a(href='#')
                        img.center-block.img-responsive(src='images/Logos/In-Kind Sponsors/41aw3tfzufvtlcou3521.jpeg')
                .col-md-3
                    a(href='#')
                        img.center-block.img-responsive(src='images/Logos/In-Kind Sponsors/1010554506.jpg')
                .col-md-3
                    a(href='#')
                        img.center-block.img-responsive(src='images/Logos/In-Kind Sponsors/avasol-logo-color-320x320.png')
        .row
            .col-md-12
                .col-md-4
                    a(href='#')
                        img.center-block.img-responsive(src='images/Logos/In-Kind Sponsors/BOULTER-PLYWOOD.jpg')
                .col-md-3
                    a(href='#')
                        img.center-block.img-responsive(src='images/Logos/In-Kind Sponsors/Benchmade_Butterfly_Logo.jpg')
                .col-md-4
                    a(href='#')
                        img.img-responsive(src='images/Logos/In-Kind Sponsors/Insect_shield_logo.jpg')
                    a(href='#')
                        img.img-responsive(src='images/Logos/In-Kind Sponsors/west_system_logo.png')