leaflet(center="center", defaults="defaults", controls="controls", geojson="geojson", layers="layers", width="100%", height="480")
input(type='button', value='See Entire Journey', ng-click='centerJSON()')
input(type='button', value='Center', ng-click='centerMap()')