.navbar.navbar-default.navbar-fixed-top(style='\
height: 101px;\
')
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-ex-collapse', aria-expanded='false', style='\
      top: 20px;\
      ')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(style='\
      padding-top: 17px;\
      ')
        img(alt='Brand', src='images/Logos/Recycled Mississippi.png', style='\
        margin-top: 10px; width=', maxheight='45px', height='45')
    #navbar-ex-collapse.navbar-collapse.collapse(style='padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; margin-top: 25px; margin-bottom: 25px; height: 0px;', aria-expanded='false')
      ul.nav.navbar-nav.navbar-right
        li
          a(href='index.html', style='\
          border-left-width: px;\
          /* border-right-width: 1px; */\
          /* margin-left: 2px; */\
          /* margin-right: 2px; */\
          ') Expedition
        li
          a(href='ABOUT.html') About
        li
          a(href='#sponsors') Sponsors
        li.active
          a(href='PRESS.html') Press
.section
  .container
.section
  .container
    .row
      .col-md-12
        h2.text-center.text-primary
          | A FULL LIST OF PRESS AND MEDIA ARTICLES ARE AVAILABLE BELOW. 
          br
          | FOR ALL MEDIA ENQUIRIES, PLEASE REFER TO OUR
          br
          a(href='https://docs.google.com/document/d/1pGf-Sd9fnTZ4pcJFMMN5HIk6q7Y8ldzAzBjsKdDu0zA/', target='_blank') DOWNLOADABLE ELECTRONIC PRESS KIT
.section
  .container
    .row
      .col-md-4
        .col-md-12
          h4
            a(href='http://www.kfvs12.com/story/32479666/group-documents-journey-along-mississippi-river-with-boat-made-of-recycled-material/', target='_blank') KFVS 12 - CAPE GIRARDEAU, MO
          h5 Released on 19th July 2016 
          a(href='http://www.kfvs12.com/story/32479666/group-documents-journey-along-mississippi-river-with-boat-made-of-recycled-material', target='_blank')
            img.img-responsive(src='images/PRESS/KFVS.jpeg')
      .col-md-4
        .col-md-12
          h4
            a(href='http://www.semissourian.com/story/2323111.html', target='_blank') SOUTHEAST MISSOURIAN - CAPE GIRARDEAU, MO
          h5 Released on 19th July 2016 
          a(href='http://www.semissourian.com/story/2323111.html', target='_blank')
            img.img-responsive(src='images/PRESS/SoutheastMissourian.jpeg')
      .col-md-4
        .col-md-12
          h4
            a(href='http://fox2now.com/2016/07/15/floating-down-the-mississippi-on-a-boat-made-of-recycled-materials/', target='_blank') FOX 2 (KTVI) - ALTON, IL
          h5 Released on 15th July 2016 
          a(href='http://fox2now.com/2016/07/15/floating-down-the-mississippi-on-a-boat-made-of-recycled-materials/', target='_blank')
            img.img-responsive(src='images/PRESS/Fox2.jpg')
    .row
      .col-md-12
        hr
    .row
      .col-md-4
        .col-md-12
          h4
            a(href='http://www.riverfronttimes.com/newsblog/2016/07/14/boat-made-of-trash-sails-into-st-louis', target='_blank') RIVERFRONT TIMES - ST. LOUIS, MO
          h5 Released on 14th July 2016 
          a(href='http://www.riverfronttimes.com/newsblog/2016/07/14/boat-made-of-trash-sails-into-st-louis', target='_blank')
            img.img-responsive(src='images/PRESS/RiverfrontTimes.jpg')
      .col-md-4
        .col-md-12
          h4
            a(href='http://thetelegraph.com/news/85833/6-men-and-a-raft-of-trash-recycled-mississippi-crew-floats-through', target='_blank') THE TELEGRAPH - ALTON, IL
          h5 Released on 13th July 2016 
          a(href='http://thetelegraph.com/news/85833/6-men-and-a-raft-of-trash-recycled-mississippi-crew-floats-through', target='_blank')
            img.img-responsive(src='images/PRESS/TheTelegraph.jpg')
      .col-md-4
        .col-md-12
          h4
            a(href='http://www.wgem.com/story/32405101/2016/07/08/filmmakers-raise-awareness-of-plastic-pollution-along-mississippi-river', target='_blank') WGEM - QUINCY, IL
          h5 Released on 9th July 2016 
          a(href='http://www.wgem.com/story/32405101/2016/07/08/filmmakers-raise-awareness-of-plastic-pollution-along-mississippi-river', target='_blank')
            img.img-responsive(src='images/PRESS/WGEM.jpeg')
    .row
      .col-md-12
        hr
    .row
      .col-md-4
        .col-md-12
          h4
            a(href='http://www.dailygate.com/news/article_c33ae6aa-4520-11e6-930c-cf771eb11750.html', target='_blank') DAILY GATE CITY - KEOKUK, IA
          h5 Released on 8th July 2016 
          a(href='http://www.dailygate.com/news/article_c33ae6aa-4520-11e6-930c-cf771eb11750.html', target='_blank')
            img.img-responsive(src='images/PRESS/GateCity.jpg')
      .col-md-4
        .col-md-12
          h4
            a(href='http://www.hannibal.net/news/20160708/multi-national-crew-raises-environmental-awareness-from-boat-made-with-recycled-materials', target='_blank') HANNIBAL COURIER-POST - HANNIBAL, MO
          h5 Released on 8th July 2016 
          a(href='http://www.hannibal.net/news/20160708/multi-national-crew-raises-environmental-awareness-from-boat-made-with-recycled-materials', target='_blank')
            img.img-responsive(src='images/PRESS/Hannibal.jpg')
      .col-md-4
        .col-md-12
          h4
            a(href='http://www.kcrg.com/content/news/Traveling-the-Mississippi-River-on-plastic-bottles-384930161.html', target='_blank') KCRG - DUBUQUE, IA
          h5 Released on 29th June 2016 
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src='http://www.youtube.com/embed/nUAs0JjdzEw', allowfullscreen='')
    .row
      .col-md-12
        hr
    .row
      .col-md-4
        .col-md-12
          h4
            a(href='http://www.wxow.com/story/32308283/2016/06/25/recycled-mississippi-project-makes-sailboat-of-empty-bottles-and-other-waste', target='_blank') WXOW - LA CROSSE, WI
          h5 Released on June 25th 2016 
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src='http://www.youtube.com/embed/U1NEtj4RM5Y', allowfullscreen='')
      .col-md-4
        .col-md-12
          h4
            a(href='http://tvnz.co.nz/seven-sharp/kiwi-expats-craft-incredible-recycled-raft-790-bottles-epic-voyage-video-6477381', target='_blank') SEVEN SHARP, NEW ZEALAND
          h5 Released on 16th June 2016 
          a(href='http://tvnz.co.nz/seven-sharp/kiwi-expats-craft-incredible-recycled-raft-790-bottles-epic-voyage-video-6477381', target='_blank')
            img.img-responsive(src='images/PRESS/SevenSharp.jpeg')
