.navbar.navbar-default.navbar-fixed-top(style=' height: 101px;')
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-ex-collapse', aria-expanded='false', style='top: 20px;')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(style='padding-top: 17px;')
                img(alt='Brand', src='images/Logos/Recycled Mississippi.png', style='margin-top: 10px; width=', maxheight='45px', height='45')
        #navbar-ex-collapse.navbar-collapse.collapse(style='padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; margin-top: 25px; margin-bottom: 25px; height: 0px;', aria-expanded='false')
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='./', style='border-left-width: px; /* border-right-width: 1px; */ /* margin-left: 2px; */ /* margin-right: 2px; */') Expedition
                li
                    a(href='ABOUT') About
                li
                    a(href='#sponsors') Sponsors
                li.active
                    a(href='#') Press
.section
    .container
.section
    .container
        .row
            .col-md-12
                h2.text-center.text-primary(contenteditable='false')
                    br
                    br
                    a(href='https://docs.google.com/document/d/1pGf-Sd9fnTZ4pcJFMMN5HIk6q7Y8ldzAzBjsKdDu0zA/', target='_blank') DOWNLOADABLE ELECTRONIC PRESS KIT
.section
    .container
        .row
            .col-md-12
                .col-md-12
                    h3(contenteditable='true') WXOW - LA CROSSE, WI
                    h4(contenteditable='true')
                        div
                            br
        .row
            .col-md-12
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='http://www.youtube.com/embed/U1NEtj4RM5Y', allowfullscreen='')
.section
    .container
        .row
            .col-md-12
                .col-md-12
                    h3.text-primary KCRG - DUBUQUE, IA
                    h4.text-primary(contenteditable='true')
                        div
                            br
        .row
            .col-md-12
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='http://www.youtube.com/embed/nUAs0JjdzEw', allowfullscreen='')
.section
    .container
        .row
            .col-md-12
                .col-md-12
                    h3.text-primary
                        a(href='http://tvnz.co.nz/seven-sharp/kiwi-expats-craft-incredible-recycled-raft-790-bottles-epic-voyage-video-6477381', target='_blank') &apos;KIWI EXPATS CRAFT INCREDIBLE RECYCLED RAFT WITH 790 BOTTLES FOR EPIC VOYAGE
                    h4.text-primary(contenteditable='false')
                        div
                            br
